<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
<title>{% block title %}Empty Space Template{% endblock %}</title>
</head>
<body>

<div id="wrap">

<div id="top"> </div>

<div id="header">
<h1><a href="#">EISULA - Proyectos de Grado</a></h1>
<h2>Bienvenido a EISULA, busca tu proyecto de grado y si no reclama al "desdichado" que introdujo los datos.</h2>
</div>

<div id="menu">
<ul>
<li><a href="/eisula">Inicio</a></li>
<li><a href="/eisula/proyectos/">Proyectos</a></li>
<li><a href="/eisula/autores/">Autores</a></li>
<li><a href="/eisula/profesores/">Profesores</a></li>
<li><a href="/eisula/materias/">Materias</a></li>
<li><a href="/eisula/bibliotecas/">Bibliotecas</a></li>
</ul>
</div>

<div id="contentwrap"> 

<div id="content">
{% block content %}
<h2>Quo locis utens timet nobis miror sua</h2>

<div style="float: left; padding: 10px;"><img src="coffee.png" alt="image" /></div>

<p>Fusce ullamcorper libero nec turpis semper et rutrum est hendrerit. Etiam sit amet nibh in tortor ultrices tempus. Integer molestie, nisi tempor mollis dapibus, ipsum sem cursus ante, at volutpat est erat id lorem. Nulla mattis porta lectus, nec iaculis est posuere vitae. Suspendisse eu nulla mi, in fermentum quam. In vulputate rutrum mauris ut luctus. Cras vehicula ante vitae nisi consequat consectetur.</p>

<p>Phasellus fringilla, felis sed dignissim dignissim, eros metus eleifend arcu, quis aliquet sapien eros convallis nulla. Aenean quis tellus ligula. Ut facilisis porta nibh, ut volutpat leo faucibus a.</p>

<p>Proin ac dui diam, vitae molestie nisi. Integer leo lectus, interdum sit amet vehicula non, porttitor id elit. Nunc laoreet turpis orci. Suspendisse quis enim id libero pellentesque tincidunt. Sed sed tellus at eros sodales blandit sed id velit. Phasellus ullamcorper odio non neque tincidunt quis rhoncus odio tempor. Curabitur ac nisl felis, et pulvinar risus. Nullam ultrices felis quis ipsum scelerisque sodales. Fusce leo nisi, accumsan sit amet gravida eget, tincidunt non urna. Maecenas eleifend orci mauris, dapibus auctor massa. Ut ultrices accumsan enim at bibendum. </p>

<h2>Tempus mentem debere lor cum sacras volunt capram</h2>

<p>Non facilius quaesita uno originem. Conflantur me mo ob scripturas in divisibile attendenti deprehendi. Corporea ac perpauca innumera ad collecta contumax. Humanas accipio facilem et colores ut ut. Infinitum veritates dubitabam re ex. Vigilantes substantia dubitandum de ha frequenter cavillandi in ex. Ac putantur occurrit judicium profecto ut.</p>

<p>Excludere im sapientia evidenter et delusisse. Externarum vi requiratur in judicarent an cavillandi. Agi praecise similium sequatur existant vel sed. Visa rem unam idea nia omne esse. An ad ea adeo otii heri vero homo. Essem paulo rem prava meo fas firma nomen.</p>

<p>Quo locis utens timet nobis miror sua. Aeque fecto ii im nulli ut forte mo. Ha ac creatorem conservat perfectae exhibetur. Fas rea gallice cui exhibet probant ponamus per. Occurreret ab facultates reducantur to ei si sufficiunt. Venturum ex dubitare to curantes meditari eo opinione explicui. Sui eos vix quietem sentire dicamne antehac remotam figuram age. Nam devenimus obdormiam usu dum eminenter hac. Plus vi amen ad quis se fiat meam ii.</p>
{% endblock content %} 
</div>

<div id="sidebar">
{% block sidebar %}
<h3>Palabras Claves</h3>
<ul>
<li><a href="#">Conflantur</a></li>
<li><a href="#">Externarum vi</a></li>
<li><a href="#">Essem paulo</a></li>
<li><a href="#">Aeque fecto ii</a></li>
<li><a href="#">Quo locis utens</a></li>
</ul>

<h3>Materias</h3>
<ul>
<li><a href="#">Plus vi</a></li>
<li><a href="#">Agi praecise</a></li>
<li><a href="#">Infinitum veritates</a></li>
<li><a href="#">Corporea ac perpauca</a></li>
<li><a href="#">Aeque fecto</a></li>
</ul>

<h3>Bibliotecas</h3>
<ul>
<li><a href="#">Integer leo lectus</a></li>
<li><a href="#">Phasellus</a></li>
<li><a href="#">Fusce leo nisi</a></li>
<li><a href="#">Aenean quis</a></li>
<li><a href="#">Maecenas</a></li>
<li><a href="#">Etiam sit amet</a></li>
<li><a href="#">Nulla mattis</a></li>
<li><a href="#">Venturum ex dubitare</a></li>
</ul>
{% endblock sidebar %}
</div>

<div style="clear: both;"> </div>

</div>

<div id="footer">
<p>Copyright &copy; <a href="http://www.ula.ve/">Universidad de Los Andes</a> | Plantilla cortesía de <a href="http://www.templatestable.com">Free Css Templates</a></p>
</div>

</div>

</body>
</html>
