{% extends "base.html" %}

{% block title %}EISULA - Profesor{% endblock %}

{% block content %}
<h2>Detalle del profesor: {{ professor.apellido }}, {{ professor.nombre }}</h2>

<dl>
	<dt>Apellido</dt>
	<dd>{{ professor.apellido }}</dd>
	<dt>Nombre</dt>
	<dd>{{ professor.nombre }}</dd>
	<dt>Fecha de Nacimiento</dt>
	<dd>{{ professor.fecha_nacimiento|date:"Y/m/d" }}</dd>
	<dt>Dependencia</dt>
	<dd>{{ professor.dependencia }}</dd>
	{% if projects %}
	<dt>Tutor de los Proyectos de Grado:</dt>
	{% for project in projects %}
	<dd><a href="#" title="{{ project.titulo }}">{{ project.titulo }}</a></dd>
	{% endfor %}
	{% endif %}
</dl>
{% endblock content %}
